@{
    Layout = "_LayoutLogin";
}
@using EjercicioAspNetCore.Models.LoginModels

@model LoginUsuario


<div class="container">
    <h1>Inicio de sesión</h1>

    <form method="post" asp-controller="Login" asp-action="IniciarSesion">

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="usuario">Usuario:</label>
                    <input asp-for="Usuario" type="text" class="form-control" />
                    <span asp-validation-for="Usuario" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="contrasenia">Contraseña:</label>
                    <input asp-for="Contrasenia" type="password" class="form-control" />
                    <span asp-validation-for="Contrasenia" class="text-danger"></span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                    <a href="/Login/RegistroUsuario">Registrarme</a>
                </div>
            </div>
        </div>

        @if (ViewBag.UsuarioIncorrecto != null)
        {
            if (ViewBag.UsuarioIncorrecto)
            {
                <span class="text-danger">Las credenciales no son correctas o el usuario no se encuentra activo</span>
            }

        }


    </form>

</div>
