@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Titulo"] = "Clientes";
}


@model Cliente

<div class="container">
    <h1>Listado de clientes</h1>

    <div class="dx-viewport mt-3">

        <div class="demo-container">
            <div id="gridClientes"></div>
        </div>
    </div>

</div>

<div class="modal fade" id="detalleCliente" tabindex="-1" aria-labelledby="detalleCliente" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle cliente</h5>

            </div>
            <div class="modal-body" id="cuerpoDetalleModal">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="cerrarModal()">Cerrar</button>

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/ClienteJs/site.js" asp-append-version="true"></script>
}


