@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Titulo"] = "Articulos";
}
@model Articulo

<div class="container">

    <form method="post" asp-controller="Articulo" asp-action="CrearArticulo" enctype="multipart/form-data">
        <div class="row">
            <h4 class="text-muted">Crud - @ViewData["Titulo"]</h4>
        </div>

        <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-4">

                <div class="mb-3">

                    <label>Descripción:</label>
                    <textarea asp-for="Descripcion" class="form-control form-control-sm  mt-2" cols="12"></textarea>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>


            <div class="col-sm-4 col-md-6 col-lg-4">

                <div class=" mb-3">
                    <label>Precio:</label>
                    <input asp-for="Precio" type="number" step="any" class="form-control form-control-sm  mt-2">
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>

            </div>

            <div class="col-sm-4 col-md-6 col-lg-4">

                <div class=" mb-3">
                    <label>Tienda:</label>
                    <select asp-for="IdTienda"
                            asp-items="@ViewBag.Tiendas" class="form-control form-control-sm  mt-2">
                    </select>
                    <span asp-validation-for="IdTienda" class="text-danger"></span>
                </div>

            </div>

        </div>


        <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-4">

                <div class="mb-3">

                    <label>Imagen:</label>
                    <input asp-for="Imagen" class="form-control-file mt-2" type="file" accept="image/*">
                    <span asp-validation-for="Imagen" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-4 col-md-6 col-lg-4">

                <div class=" mb-3">
                    <label>Stock:</label>
                    <input asp-for="Stock" type="number" class="form-control form-control-sm  mt-2">
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>

            </div>


        </div>

        <div class="row">
            <div class="col-6">
                @if (ViewBag.Tiendas != null)
                {
                    if (ViewBag.Tiendas.Count > 0)
                    {
                        <button type="submit" class="btn btn-success">
                            Enviar
                        </button>
                    }
                }



            </div>

        </div>

    </form>

    <div class="dx-viewport mt-3">

        <div class="demo-container">
            <div id="gridArticulos"></div>
        </div>
    </div>

</div>

<div class="modal fade" id="detalleArticulo" tabindex="-1" aria-labelledby="detalleArticulo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle articulo</h5>

            </div>
            <div class="modal-body" id="cuerpoDetalleModal">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="cerrarModal()">Cerrar</button>

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/ArticuloJs/site.js" asp-append-version="true"></script>
}

